{% extends '::baseAdmin.html.twig' %}
{% block content %}
 
  
      <section class="content">
        <section id="introduction">
            <h2 class="page-header"><a href="#introduction">Ayuda</a></h2>
            <p class="lead">
                <b>ARDID</b>  en esta seccion de ardid se dara ayuda a los usuarios 
            </p>
        </section><!-- /#introduction -->
    </section>  
   
{% endblock %}
