{% extends '::base2.html.twig' %}
{% block content %}

    <section class="content-header">
        <h1>
            Documentacion 
            <small>Ardid</small>
        </h1>

    </section>
    <section class="content">
        <section id="introduction">
            <h2 class="page-header"><a href="#introduction">APP ARDID</a></h2>
            <p class="lead">
                <b>ARDID</b>  es un APP que busca la optimizaci&oacuten del Recurso Humano
                hacia el empleado, mediante el podr&aacuten visualizar e imprimir de forma &aacutegil, 
                sencilla y segura documentos laborales de norma y de la empresa, como lo es: 
                Desprendibles de n&oacutemina, certificados laborales, certificado de ingreso 
                y retenci&oacuten y quejas o reclamos.
            </p>
        </section><!-- /#introduction -->
    </section>  
{% endblock %}

