{% extends '::base2.html.twig' %}
{% block content %}

    <section class="content">
        <section id="introduction">
            <h2 class="page-header"><a href="#introduction">Estadisticas pago</a></h2>
            <p class="lead">
                <b>ARDID</b>  en esta seccion de ardid se encontraran las estadisticas generadas sobre el pago de cada empleado
            </p>
          
        </section><!-- /#introduction -->
    </section>  

{% endblock %}
