{% extends '::base2.html.twig' %}
{% block content %}
    
      <section class="content">
        <section id="introduction">
            <h2 class="page-header"><a href="#introduction">Informacion empresa</a></h2>
            <p class="lead">
                <b>ARDID</b>  en esta seccion de ardid se encontrara la informacion general de la empresa
            </p>
        </section><!-- /#introduction -->
    </section>  
   
{% endblock %}
