{% extends '::base2.html.twig' %}
{% block content %}
 
  
      <section class="content">
        <section id="introduction">
            <h2 class="page-header"><a href="#introduction">Quejas y reclamos</a></h2>
            <p class="lead">
                <b>ARDID</b>  en esta seccion de ardid sus empleados podran enviar informes de quejas y reclamos 
                los cuales podran ser contestados de manera facil y agil.
            </p>
        </section><!-- /#introduction -->
    </section>  
   
{% endblock %}
