{% extends '::base2.html.twig' %}
{% block content %}
 
  
      <section class="content">
        <section id="introduction">
            <h2 class="page-header"><a href="#introduction">Contactenos</a></h2>
            <p class="lead">
                <b>ARDID</b>  en esta seccion de ardid sus empleados podran contactarse de manera facil y rapida para resolver inquietudes,
            </p>
        </section><!-- /#introduction -->
    </section>  
   
{% endblock %}