{% extends '::base2.html.twig' %}
{% block content %}
    <section class="content-header">
        <h1>
            Contactenos
            <small>contacto</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/ardid/web/app_dev.php/"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="/ardid/web/app_dev.php/"><i class="fa fa-calendar"></i> Relacionados</a></li>
            <li class="active">Contactenos</li>
        </ol>
    </section>  
    <section class="content">        	
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-body"> 
                <input type="text" class="form-control" placeholder="..."> <br><br>
                <textarea class="form-control" rows="3" placeholder="..."></textarea> <br>                   
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div> 
        {{ form_rest(form) }}
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}

